/* --------header -------- */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;

    background-color: #F3F2F2;
}
/* -------- LOGO -------- */
.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo img{
    width: 60px;
}
.logo p {
    font-weight: bold;
    color: #6a149b;
}
/* -------- NAV -------- */
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li:last-child{
    padding-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #6a149b;
    padding: 10px;
}
body {
  text-align: center;
}
h2{
  color: black;
  margin-bottom: 15px;
}
.card-header{
  font-weight: bold;
}

.container-fluid{
  margin-top: 15px;
  margin-bottom:15px;
}
.input-country{
  width:60%
}
.card-title{
  font-weight: bold;
}
.chart{
    width: 80%;
    height: 70vh;
    min-height: 500px;

    margin: 0 auto;
    padding: 50px 0;
}
